hw2/__pycache__
hw2/utils/__pycache__
hw2/utils/datasets
hw2/utils/__init__.py
hw2/*.npy
hw2/*pickle
hw2/.DS_Store
hw3/__pycache__
hw3/results
hw3/utils/__pycache__
hw4/*.bin
hw4/__pycache__
hw4/events*
hw4/outputs/test_outputs.txt
hw4/runs
hw4/model.bin.optim